<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.LanguageVersionGutter" description="Feature LanguageVersionGutter" dependencies="Foundation.*" extends="Sitecore.Feature">
                    <predicate>
                        <include name="Gutters.HasLanguageVersion" database="core" path="/sitecore/content/Applications/Content Editor/Gutters/Has Language Version" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>